html, body {
  height: 100%;
  margin: 0;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.slide {
  height: 100vh;
  width: 100vw;
  background: gray;
  display: none;
}

.slide.slide--active {
  display: flex;
}
.slide .left {
  padding: 30px;
  width: 50%;
}

.slide .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide .slide__image {
  width: 40vw;
}

.slider .slider__arrow {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 4px solid black;
  cursor: pointer;
}

.slider .slider__arrow:hover {
  background-color: black;
}

.slider .slider__arrow.slider__arrow--right {
  right: 20px;
  left: unset;
}
