html, body {
  height: 100%;
  margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.form {
  padding: 1em;
}
.form .form__group {
  display: flex;
  margin-bottom: 1em;
}

.form .form__label {
  margin-right: 1em;
  width: 6em;
}
